* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; 
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; 
}

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  width: 1024px;
}

.logo {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}

.intro {
  background: url("../images/header_bg.jpg") no-repeat top center #131e27;
  background-size: cover;
  padding: 50px 0 200px;
}

.intro h2 {
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin: 120px 0 90px;
  font-weight: 600;
}

.cta {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.cta-yellow {
  background: #f9e42e;
  color: #033048;
}

.cta-blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}

.benefits {
  padding: 100px 0 80px;
}

h3 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.benefits p, .benefits ul {
  width: 600px;
}

.benefits ul {
  list-style: disc;
  margin: 30px 0 0 80px;
}

.testimonial {
  background: url("../images/testimonial_bg.jpg") no-repeat top center #071324;
  background-size: cover;
  padding: 70px 0;
  color: #fff;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}

blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}

.sign-up {
  background: #f9e42e;
  padding: 30px;
  text-align: center
}

footer {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}

footer .logo {
  color: #f9e42e;
  margin-bottom: 68px;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}

footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.blog-post {
  background-color: #033048;
  padding: 20px 0 20px;
}


nav {
  float: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  float: left;
  font-size: 18px;
  position: relative;
  margin-right: 1em;

}

nav ul li a {
  color: #f9e42e;
  margin-left: 10px;
  margin-right: 10px;
}

aside {
  display: block;
}

.container h2 {
   font-weight: 600;
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 30px;
  color: #043049;
}

.container p {
  font-size: 22px;
  line-height: 1.23;
  color: #606161;
}
.container p:first-of-type:first-letter {
  float: left;
  font-size: 80px;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
}

.container a {
  float: right;
  padding-bottom: 50px;
}




